.lineas {
    display: flex;
    flex-direction: column;
    ul{
        margin-top: 500px;
        z-index: 10;
        background-color: #fff;
        li{
            list-style: none;
            margin: 20px 0px;
            &::before{
                content: "";
                width: 23px;
                height: 15px;
                margin-right: 10px;
                display: inline-block;
                background-image: url("../icons/svg/metrobilbao_logo.svg");
            }

			button{
				float: right;
				margin-right: 25px;
				background: none;
				border: none;
				width: 25px;
				height: 25px;
				background: none;
			}
			button.add{
                background-image: url("../icons/svg/plus.svg");
			}
			button.remove{
                background-image: url("../icons/svg/minus.svg");
			}
			a{
				text-decoration: none;

				h3{
					color: #000;
					display: inline;
				}
			}
		}
	}

	.back{
		z-index: 10;
		top: 0px;
		left: 0px;
		position: fixed;
		border-radius: 4px;
		border: 2px solid rgba(0, 0, 0, 0.2);
		height: 30px;
		width: 30px;
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-image: url("../icons/svg/arrow-left.svg");
		background-color: #fff;
		margin-top: 10px;
		margin-left: 10px;
	}

	.leaflet-left{
		right: 0;
		left: initial;

		.leaflet-control{
			margin-right: 10px;
		}
	}
}
