@media(min-width: 800px) {
.paradas{
	display: flex;
	.map{
		z-index: 1;
		height: 100vh;
		width: 50%;
	}
	.leaflet-container{
		height: 100vh;
	}
    ul{
       height: 100vh;
	   margin: 0;
	   width: 50%;
	   overflow: auto;
	}
}
}
@media(max-width: 800px) {
.paradas {
    display: flex;
    flex-direction: column;
	.map{
		height: 65vh;
		position: fixed;
		width: 100%;
	}
	.leaflet-container{
		height: 65vh;
	}
    ul{
        margin-top: 65vh;
	}
}
}
.paradas {
    ul{
        z-index: 10;
        background-color: #fff;
        li{
            list-style: none;
            margin: 20px 0px;
            &::before{
                content: "";
                width: 23px;
                height: 15px;
                margin-right: 10px;
                display: inline-block;
                background-image: url("../icons/svg/metrobilbao_logo.svg");
            }

			button{
				float: right;
				margin-right: 25px;
				background: none;
				border: none;
				width: 25px;
				height: 25px;
				background: none;
                padding: 0;
                transition: background-image 0.5s ease-in-out;
			}
			button.add{
                background-image: url("../icons/svg/heart-regular.svg");
			}
			button.remove{
                background-image: url("../icons/svg/heart-solid.svg");
			}
			a{
				text-decoration: none;

				h3{
					color: #000;
					display: inline;
				}
			}
		}
	}

	.back {
		margin-top: 10px;
		border: 2px solid rgba(0, 0, 0, 0.2);
		margin-left: 10px;
		position: fixed;
		border-radius: 4px;
		z-index: 10;

		a{
			height: 30px;
			border-radius: 3px;
			width: 30px;
			display: block;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url("../icons/svg/arrow-left.svg");
			background-color: #fff;
		}
	}

	.leaflet-left{
		right: 0;
		left: initial;

		.leaflet-control{
			margin-right: 10px;
		}
	}
}
