.parada {
    display: flex;
    flex-direction: column;
	.map{
		height: 35vh;
		position: fixed;
		width: 100%;
	}
	.leaflet-container{
		height: 35vh;
	}
    .content{
        margin-top: 35vh;
        z-index: 10;
        background-color: #fff;
        li{
            list-style: none;
            margin: 20px 0px;
            &::before{
                content: "";
                width: 23px;
                height: 15px;
                margin-right: 10px;
                display: inline-block;
                background-image: url("../icons/svg/metrobilbao_logo.svg");
            }

			button{
				float: right;
				margin-right: 25px;
				background: none;
				border: none;
				width: 25px;
				height: 25px;
				background: none;
			}
			button.add{
                background-image: url("../icons/svg/plus.svg");
			}
			button.remove{
                background-image: url("../icons/svg/minus.svg");
			}
			a{
				text-decoration: none;

				h3{
					color: #fff;
					background: #f1592a;
					padding: 0px 5px;
					text-decoration: none;
					display: inline;
				}
			}
		}
	}

	.back {
		margin-top: 10px;
		border: 2px solid rgba(0, 0, 0, 0.2);
		margin-left: 10px;
		position: fixed;
		border-radius: 4px;
		z-index: 10;

		a{
			height: 30px;
			border-radius: 3px;
			width: 30px;
			display: block;
			background-position: 50% 50%;
			background-repeat: no-repeat;
			background-image: url("../icons/svg/arrow-left.svg");
			background-color: #fff;
		}
	}

	.leaflet-left{
		right: 0;
		left: initial;

		.leaflet-control{
			margin-right: 10px;
		}
	}
}
.parada{
}
